@{
    ViewData["Title"] = "Home Page";
}

<style>
    .top-container {
        text-align: center;
        padding-top: 14rem;
    }
</style>
<div class="top-container" >
    <h1>Welcome To Our Reservation App</h1>
    <h4>Reservations Made Easy</h4>
</div>
