@{
    ViewData["Title"] = "Home Page";
}

<style>
    .top-container {
        text-align: center;
        padding-top: 14rem;
    }
</style>
<head>
    
</head>
<body>
    <div class="top-container">
        <h1>Welcome To Our Restaurant</h1>
        <h4>Where Fine Dining Is Made Easy</h4>
        
    </div>
    <div>
        <img src="~/images/guy.jpg" alt="guy" />
        <img src="~/images/lady.jpg" alt="lady" />
        <img src="~/images/happy-people.jpg" alt="happy" />
    </div>
    
</body>

 