@model TableReservation.Models.Reservation


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Your Reservation</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResDate" class="control-label"></label>
                <input asp-for="ResDate" class="form-control" />
                <span asp-validation-for="ResDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartySize" class="control-label"></label>
                <input asp-for="PartySize" class="form-control" />
                <span asp-validation-for="PartySize" class="text-danger"></span>
            </div>
            <h6>$10 hold fee required if high traffic day</h6>
            <div class="form-group" id="card-number-field">
                <label asp-for="CardNumber" for="cardNumber">Card Number</label>
                <input asp-for="CardNumber" type="text" class="form-control" id="cardNumber">
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group CVV">
                <label asp-for="CVV" for="cvv">CVV</label>
                <input asp-for="CVV" type="text" class="form-control" id="cvv">
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group month">
                <label asp-for="month" for="month">Expiration Month</label>
                <input asp-for="month" type="text" class="form-control" id="month">
                <span asp-validation-for="month" class="text-danger"></span>
            </div>
            <div class="form-group year">
                <label asp-for="year" for="year">Expiration Year</label>
                <input asp-for="year" type="text" class="form-control" id="year">
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
